* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    

}

html {
    scroll-behavior: smooth;
}

.grid-container {
    display: grid;
    grid-template-rows: 10% 15% 1fr 15%;
    grid-template-areas:
        'nav'
        'header'
        'main'
        'footer';
    height: 100vh;

}

nav {
    background: linear-gradient(135deg, #2C3E50, #34495E);
    color: #F4D03F;
    grid-area: nav;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 16px
}

header {
    background: linear-gradient(135deg, #8E5A3D, #D27D4B);
    color: #F8F1E5;
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
}


main {
    background-color: #F8F1E5;
    grid-area: main;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer {
    background: linear-gradient(135deg, #2C3E50, #34495E);
    color: #F4D03F;
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

}




/* menu para desktop/tablet */

#menu {
    display: none;
    text-shadow: 2px 2px 0px #000;
}

/* navbar */

.navlogo {
    display: flex;
    gap: 8px;
    align-items: center;
    text-shadow: 2px 2px 0px #000;
    filter: drop-shadow(10px 10px 30px rgba(0, 0, 0, 0.5)); 

}

.navlogo img {
    width: 30px;
    height: 30px;
    filter: drop-shadow(10px 10px 30px rgba(0, 0, 0, 0.5)); 




}

nav i {
    font-size: 30px;
}

.barra {
    transition: transform 0.3s ease;
}

.barra:hover {
    transform: scale(1.1);
}

.barra:active {
    transform: scale(0.9);
}


/* header */

h1 {
    text-align: center;
    font-family: 'lobster', sans-serif;
    font-size: 36px;
    letter-spacing: 5px;
    text-shadow: 2px 2px 0px #000;

}

/* carta  */

.pizzasdesktop {
    display: none;
}

/* boton página siguiente  */

.nextpizza {
    border: none;
    transition: all 0.3s ease-out;
    color: #2C3E50;
    font-size: 20px;
    background-color: #F8F1E5;
}

.nextpizza:hover {
    transform: scale(1.5);
}

.nextpizza:active {
    transform: scale(1);
    color: #080808;
}


/* card */

.pizzatablet {
    display: none !important;

}

.pizzacard {
    background-color: #E1B07E;
    border: solid 3px #8E5A3Ded;
    color: #2C3E50;
    border-radius: 8px;
    width: 100%;
    max-width: 300px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    transition: all 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    margin: 30px 0px;
}

.pizzacard:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 1);
}

.pizzacard img {
    padding-top: 15px;
    height: 200px;
    transition: transform 1s ease-out;
    animation: animacion-color;
    animation-iteration-count: infinite;
    animation-duration: 5s;

}

@keyframes animacion-color {
    0% {
        filter: saturate(0.7);
    }

    50% {
        filter: saturate(1.2);
    }

    100% {
        filter: saturate(0.7);
    }

}


.pizzacard:hover img {
    transform: rotate(360deg);
}

.pizzaname {
    font-size: 30px;
}

/* boton de tipo de pizza  */

.pizzatype {
    color: #2C3E50;
    display: flex;
    gap: 30px;
}

.pizzatype button {
    background-color: #F4D03F;
    border: none;
    width: 100px;
    height: 40px;
    transition: all 0.3s ease-out;
    border-radius: 8px;
}

.pizzatype button:hover {
    background-color: #F39C12;
    transform: scale(1.05);
}

.pizzatype button:active {
    background-color: #D35400;
    transform: scale(0.95);
}

.precio {
    font-size: 10px;
    opacity: 0.7;
}


/* boton de compra  */

.buybutton {
    color: #FFFFFF;
    background-color: #E74C3C;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    width: 130px;
    height: 50px;
    transition: all 0.3s ease-out;
}

.buybutton:hover {
    background-color: #C0392B;
    transform: scale(1.05);
}

.buybutton:active {
    background-color: #8E5A3D;
    transform: scale(0.95);
}


/* footer  */


.contacto {
    font-size: 20px;
    text-align: center;
    text-shadow: 2px 2px 0px #000;

}

/* iconos de contacto  */

.contacticon {
    display: flex;
    gap: 30px;
    font-size: 20px;
    text-shadow: 2px 2px 0px #000;
    align-items: center;
}

.contactoemail {
    display: flex;
    font-size: 16px;
}

#email {
    width: 150px;
    height: 30px;
    border-radius: 5px;
}

#send {
    background-color: #F4D03F;
    border: none;
    width: 80px;
    height: 30px;
    transition: all 0.3s ease-out;
    border-radius: 8px;
}

#send:hover {
    background-color: #F39C12;
    transform: scale(1.05);
}

#send:active {
    background-color: #D35400;
    transform: scale(0.95);
}


footer a {
    color: inherit;
    text-decoration: none;
    outline: none;
}

.facebook {
    transition: transform 0.3s ease-out;
}

.facebook:hover {
    transform: scale(1.2);
}

.facebook:active {
    transform: scale(0.9);
}

.instagram {
    transition: transform 0.3s ease-out;
}

.instagram:hover {
    transform: scale(1.2);

}

.instagram:active {
    transform: scale(0.9);
}

.X {
    transition: transform 0.3s ease-out;
}

.X:hover {
    transform: scale(1.2);

}

.X:active {
    transform: scale(0.9);
}

/* TABLET  */

@media (min-width: 576px) {


/* cambios en el nav  */

nav i {
    display: none !important;
}

#menu {
    display: flex;
    gap: 35px;
    font-size: 20px;
}

.boton1 {
    transition: transform 0.3s ease;
}

.boton1:hover {
    transform: scale(1.1);
}

.boton1:active {
    transform: scale(0.9);
}

.boton2 {
    transition: transform 0.3s ease;
}

.boton2:hover {
    transform: scale(1.1);
}

.boton2:active {
    transform: scale(0.9);
}

.boton3 {
    transition: transform 0.3s ease;
}

.boton3:hover {
    transform: scale(1.1);
}

.boton3:active {
    transform: scale(0.9);
}

nav ul {
    list-style-type: none;
}

nav a {
    color: inherit;
    text-decoration: none;
    outline: none;
    
}

.pizzatablet {
    display: flex !important;
}

.pizzacard {
    grid-area: card;
    width: 100%;
    max-width: 250px;
    height: 400px;
    gap: 20px;
}


.pizzatype button {
    width: 80px;
    height: 35px;
}

.pizzaname {
    font-size: 26px;
}

.buybutton {
    width: 120px;
    height: 50px;
}


}


/* desktop  */

@media (min-width: 992px) {

    .grid-container {
        display: grid;
        grid-template-columns: 15% 1fr;
        grid-template-areas:
            'nav header'
            'nav main'
            'footer footer';
        height: 100vh;
        grid-template-rows: 15% 1fr 9%;
    }

    .nextpizza {
        display: none;
    }

    nav {
        flex-direction: column;

    }

    .pizzamobile, .pizzatablet {
        display: none !important;
    }


    .pizzasdesktop {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0px 200px;
        margin: 0px 20px;
    }

    .pizzacard {
        width: 240px;
    }


    .pizzatype {
        gap: 15px;
    }

    h1 {
        font-size: 39px;
    }

    nav {
        justify-content: start;
        gap: 80px;
    }

    .navlogo {
        flex-direction: column;
        gap: 50px;
        font-size: 30px;
        padding: 40px;
    }

    .navlogo img {
        width: 80px;
        height: 80px;
    }

    #menu {
        flex-direction: column;
    }

    .buybutton {
        width: 110px;
        height: 40px;
        font-size: 14px;
    }

    .pizzaname {
    font-size: 25px;
    }

    .contactoemail {
        display: inline;
    }




}

